{% extends 'base.html'%}
<html>
    {% block head%} {{super()}}{% endblock %}

    {% block navigation%}{{super()}}{% endblock%}
    {% block body %}
    <section id="description">
        <div class="container container-sm">
  <div class="row">

    <div class="col-8 first">
        <h1>London</h1>
        <p>The best work and study-friendly cafes, restaurants, and hotel lobbies in London. Find venues <br>with free and reliable Wi-Fi hotspots, ample power sockets, and comfy seating areas.</p>
        <h2> {{ data|length }} WORK-FRIENDLY PLACES</h2>
{% for item in data %}
<div class="card mb-3 custom-card shadow-sm">
  <div class="row g-0">
    <div class="col-4">
      <img src="{{item.img_url}}" class="card-img-left" alt="{{item.name}}">
    </div>
    <div class="col-8">
      <div class="card-body p-2">
        <h6 class="card-title">{{item.name}}</h6>
        <div class="info-line">
          <i class="fa-sharp fa-solid fa-location-dot" style="color: #ca2f37;"></i>
          <span>{{item.location}}</span>
        </div>
        <div class="info-line">
          <i class="fa-solid fa-chair" style="color: #795016;"></i>
          <span>Seats {{item.seats}}</span>
        </div>
        <div class="info-line">
          <i class="fa-solid fa-tag" style="color: #d4d80e;"></i>
          <span>Coffee price {{item.coffee_price}}</span>
        </div>
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>
{% endfor %}


    </div>


    <div class="col-4 map">
        {{map|safe}}


    </div>
  </div>
</div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    {% endblock %}
    </body>
</html>